## Manglende data
Les inn csv filen med pandas

In [2]:
import pandas as pd 
df = pd.read_csv('b_3_8_2_data.csv',sep=';')
display(df.head())
print(df.info())

        Navn  Alder  Høyde  Vekt
0       Anne   25.0  165.0  58.0
1      Bjørn    NaN  180.0  80.0
2  Christian   35.0    NaN  70.0
3       Dina   42.0  175.0   NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Navn    4 non-null      object
 1   Alder   3 non-null      float64
 2   Høyde   3 non-null      float64
 3   Vekt    3 non-null      float64
dtypes: float64(3), object(1)
memory usage: 260.0+ bytes
None

Oversikt over manglende data

In [3]:
print(f"Antall manglende verdier i hver kolonne:\n{df.isna().sum()}")
total_missing = df.isna().sum().sum()
print(f"\nTotalt antall manglende verdier i df: {total_missing}")
total_cells = df.size
missing_percentage = (total_missing / total_cells) * 100
print(f"Prosentandel av manglende verdier i df: {missing_percentage:.2f}%")
rows_with_na = df.isna().any(axis=1).sum()
print(f"Antall rader i df med minst én manglende verdi: {rows_with_na}")
columns_with_na = df.isna().any(axis=0).sum()
print(f"Antall kolonner i df med minst én manglende verdi: {columns_with_na}")

Antall manglende verdier i hver kolonne:
Navn     0
Alder    1
Høyde    1
Vekt     1
dtype: int64

Totalt antall manglende verdier i df: 3
Prosentandel av manglende verdier i df: 18.75%
Antall rader i df med minst én manglende verdi: 3
Antall kolonner i df med minst én manglende verdi: 3

Fjern aller rader med na og regn ut gjenomsnittshøyden

In [4]:
df_dropna_alle = df.dropna()
display(df_dropna_alle.head())
gjsn = df_dropna_alle ['Høyde'].mean()
print(f'Gjennomsnittshøyde: {gjsn:.1f} cm')

   Navn  Alder  Høyde  Vekt
0  Anne   25.0  165.0  58.0

Gjennomsnittshøyde: 165.0 cm

Fjern rader som mangler høyde og regn ut gjennomsnittshøyden

In [5]:
df_dropna_høyde = df.dropna(subset=['Høyde'])
display(df_dropna_høyde.head())
gjsn = df_dropna_høyde ['Høyde'].mean()
print(f'Gjennomsnittshøyde: {gjsn:.1f} cm')

    Navn  Alder  Høyde  Vekt
0   Anne   25.0  165.0  58.0
1  Bjørn    NaN  180.0  80.0
3   Dina   42.0  175.0   NaN

Gjennomsnittshøyde: 173.3 cm

Gjennomsnitt og standardavik av orginaltabellen.

In [6]:
display(df)
gjsn = df['Høyde'].mean()
std = df['Høyde'].std()
print(f'Gjennomsnittshøyde: {gjsn:.1f} cm')
print(f'Std. avvik: {std:.1f} cm')

        Navn  Alder  Høyde  Vekt
0       Anne   25.0  165.0  58.0
1      Bjørn    NaN  180.0  80.0
2  Christian   35.0    NaN  70.0
3       Dina   42.0  175.0   NaN

Gjennomsnittshøyde: 173.3 cm
Std. avvik: 7.6 cm

Gjennomsnitt og standardavvik av df_dropna

In [7]:
gjsn = df_dropna_alle['Høyde'].mean()
std = df_dropna_alle['Høyde'].std()
display(df_dropna_alle)
print(f'Gjennomsnittshøyde: {gjsn:.1f} cm')
print(f'Std. avvik: {std:.1f} cm')

   Navn  Alder  Høyde  Vekt
0  Anne   25.0  165.0  58.0

Gjennomsnittshøyde: 165.0 cm
Std. avvik: nan cm

Gjennomsnitt og standardavik av df_dropna_høyde

In [8]:
display(df_dropna_høyde)
gjsn = df_dropna_høyde['Høyde'].mean()
std = df_dropna_høyde['Høyde'].std()
print(f'Gjennomsnittshøyde: {gjsn:.1f} cm')
print(f'Std. avvik: {std:.1f} cm')

    Navn  Alder  Høyde  Vekt
0   Anne   25.0  165.0  58.0
1  Bjørn    NaN  180.0  80.0
3   Dina   42.0  175.0   NaN

Gjennomsnittshøyde: 173.3 cm
Std. avvik: 7.6 cm

Fyll inn manglende høydeverdier med gjennomsnittet

In [9]:
df_fillna  = df.copy()
df_fillna['Høyde'] = df_fillna['Høyde'].fillna(gjsn)
display(df_fillna.head())

        Navn  Alder       Høyde  Vekt
0       Anne   25.0  165.000000  58.0
1      Bjørn    NaN  180.000000  80.0
2  Christian   35.0  173.333333  70.0
3       Dina   42.0  175.000000   NaN

Gjennomsnitt og standardavvik for df_fillna

In [10]:
display(df_fillna)
gjsn = df_fillna['Høyde'].mean()
std = df_fillna['Høyde'].std()
print(f'Gjennomsnittshøyde: {gjsn:.1f} cm')
print(f'Std. avvik: {std:.1f} cm')

        Navn  Alder       Høyde  Vekt
0       Anne   25.0  165.000000  58.0
1      Bjørn    NaN  180.000000  80.0
2  Christian   35.0  173.333333  70.0
3       Dina   42.0  175.000000   NaN

Gjennomsnittshøyde: 173.3 cm
Std. avvik: 6.2 cm

Smidig IT-2 © TIP AS, 2024