## Kombinere tabeller med concat og merge
### concat
Opprett en DataFrame

In [1]:
import pandas as pd
df1 = pd.DataFrame({'Frukt': ['eple', 'banan'],
                    'Antall': [5, 7],
                    'Vekt': [2.1, 1.3]})
display(df1)
print(df1.shape)

   Frukt  Antall  Vekt
0   eple       5   2.1
1  banan       7   1.3

(2, 3)

Legg til rader (vertikalt)

In [2]:
df2 = pd.DataFrame({'Frukt': ['kiwi', 'appelsin'], 
                    'Antall': [4, 3], 
                    'Vekt': [0.9, 0.8]})
display(df2)
df3 = pd.concat([df1, df2],axis=0) # axis=0 er standard
df3 = df3.reset_index(drop=True)   # erstatt gammel index med ny
display(df3)

      Frukt  Antall  Vekt
0      kiwi       4   0.9
1  appelsin       3   0.8

      Frukt  Antall  Vekt
0      eple       5   2.1
1     banan       7   1.3
2      kiwi       4   0.9
3  appelsin       3   0.8

Legg til kolonner (horisontalt)

In [3]:
df4 = pd.DataFrame({'Farge': ['rød', 'gul', 'grønn', 'oransje'],
                    'Kilopris': [32, 25, 41, 28]})
display(df4)

     Farge  Kilopris
0      rød        32
1      gul        25
2    grønn        41
3  oransje        28

In [4]:
df5 = pd.concat([df3, df4], axis=1)
display(df5)

      Frukt  Antall  Vekt    Farge  Kilopris
0      eple       5   2.1      rød        32
1     banan       7   1.3      gul        25
2      kiwi       4   0.9    grønn        41
3  appelsin       3   0.8  oransje        28

Husk at vi også kan opprette en kolonne  
fra beregninger med andre kolonner

In [5]:
df5['Pris'] = df5['Vekt'] * df5['Kilopris']
display(df5)

      Frukt  Antall  Vekt    Farge  Kilopris  Pris
0      eple       5   2.1      rød        32  67.2
1     banan       7   1.3      gul        25  32.5
2      kiwi       4   0.9    grønn        41  36.9
3  appelsin       3   0.8  oransje        28  22.4

### Merge
Opprett datasettene

In [6]:
df1 = pd.DataFrame({'Frukt': ['Eple', 'Pære', 'Banan'],
                    'Antall': [10, 20, 30]})
df2 = pd.DataFrame({'Frukt': ['Eple', 'Banan'],
                    'Pris': [5, 10]})
display(df1)
display(df2)

   Frukt  Antall
0   Eple      10
1   Pære      20
2  Banan      30

   Frukt  Pris
0   Eple     5
1  Banan    10

Indre sammenføying: Verdiene må finnes i begge tabellene

In [7]:
df_inner = pd.merge(df1, df2, on='Frukt', how='inner')
display(df_inner)

   Frukt  Antall  Pris
0   Eple      10     5
1  Banan      30    10

Ytre sammenføying: Alle rader fra begge tabellene

In [8]:
df_outer = pd.merge(df1, df2, on='Frukt', how='outer')
display(df_outer)

   Frukt  Antall  Pris
0   Eple      10   5.0
1   Pære      20   NaN
2  Banan      30  10.0

Venstre sammenføying: Alle radene fra venstre tabell  
og kun rader fra høyre tabell som matcher

In [9]:
df_left = pd.merge(df1, df2, on='Frukt', how='left')
display(df_left)

   Frukt  Antall  Pris
0   Eple      10   5.0
1   Pære      20   NaN
2  Banan      30  10.0

Høyre sammenføying: Alle radene fra høyre tabell  
og kun rader fra venstre tabell som matcher

In [10]:
df_right = pd.merge(df1, df2, on='Frukt', how='right')
display(df_right)

   Frukt  Antall  Pris
0   Eple      10     5
1  Banan      30    10

Smidig IT-2 © TIP AS, 2024